* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

.dark {

    ---background--color-imp: linear-gradient(145deg, #1e2a40, #ffaa00, rgb(32, 31, 27), rgb(29, 19, 3));
    --background-color-imp-2: linear-gradient(210deg, #1e2a40, #ffaa00, rgb(32, 31, 27), rgb(29, 19, 3));
    --background-color: linear-gradient(145deg, #7a5f20, #2c2c2cb5);
    --text-color: #c3c1c1;
    --primary-color: rgba(232, 202, 9, 0.776);
    --box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.6),
        inset -4px -4px 8px rgba(255, 255, 255, 0.1);

    /* --ul-background-color: rgba(232, 202, 9, 0.34); */
    --ul-background-color: rgba(20, 18, 0, 0.34);
    --background-color2: linear-gradient(145deg, #39311f, #211e1eb5);
    --hover--box-shadow2: 5px 5px 12px rgba(0, 0, 0, 0.6),
        -5px -5px 12px rgba(255, 255, 255, 0.05);
    ---btn--text-color: #e6e1e1;

}

.light {

    ---background--color-imp: linear-gradient(145deg,
            #8ec5fc,
            #e0c3fc,
            #f9f9f9,
            #d1f4f9,
            #c2ffd8);
    --background-color-imp-2: linear-gradient(320deg,
            #e0c3fc,
            #c89ff8,
            #d1f4f9,
            #c2ffd8, #f9f9f9);
    --background-color: linear-gradient(145deg, #9bd0ff, #ffffff);
    --text-color: #464444;
    --primary-color: #1e90ff;
    --box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.15),
        inset -4px -4px 8px rgba(255, 255, 255, 0.9);

    --ul-background-color: #1e8fff5e;
    --background-color2: linear-gradient(145deg, #abd8ff, #ffffff);
    ---hover--box-shadow2: 5px 5px 12px rgba(0, 0, 0, 0.08),
        -5px -5px 12px rgba(255, 255, 255, 0.6);
    ---btn--text-color: #383333;


}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(---background--color-imp);
}



#home_page {
    z-index: 1;
    height: 100vh;
    position: relative;
    /* background: var(---background--color-imp); */
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;


    & .nav_bar {
        position: absolute;
        top: 1.325rem;
        left: 27.29%;

        & #top-ul {
            display: flex;
            flex-direction: row;
           
            gap: clamp(-10.1rem, 2vw, 2rem);
            list-style: none;

            & li {

                font-size: clamp(.1rem, 2vw, 1.36rem);
                color: var(--primary-color);
                font-family: 'Comic Sans MS', cursive, sans-serif;
                cursor: pointer;
            }
        }

    }
}

.logo {

    position: absolute;
    top: 0.625rem;
    left: 11.6875rem;

    & img {
        height: 3.125rem;
    }
}

.btn {

    position: absolute;
    top: 0.525rem;
    /* right: 15.4rem; */
    right: 15.4rem;
    cursor: pointer;

    & .theme-chang {
        position: absolute;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 30px;
        transition: all 0.3s ease;
        background: transparent;

        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;

        &:hover {
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transform: translateY(-2px);
            -webkit-transform: translateY(-2px);
            -moz-transform: translateY(-2px);
            -ms-transform: translateY(-2px);
            -o-transform: translateY(-2px);
        }
    }
}

.menu {
    display: none;
}

.h1 {

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(1.6rem, 5vw, 4rem);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

    &::before {
        content: "10000++Songs";
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        border-right: 2px solid black;
        overflow: hidden;
        animation: animation 2s linear infinite;
        -webkit-animation: animation 2s linear infinite;
    }
}

@keyframes animation {
    0% {
        width: 0;

    }

    50% {
        width: 100%;

    }

    100% {
        width: 0;
    }
}

.search {

    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--background-color);
    padding: 0.75rem 1.125rem;
    border-radius: 2.5rem;
    width: 17.5rem;
    box-shadow: var(--box-shadow);
    -webkit-border-radius: 2.5rem;
    -moz-border-radius: 2.5rem;
    -ms-border-radius: 2.5rem;
    -o-border-radius: 2.5rem;

    &:hover {

        box-shadow: var(---hover--box-shadow2);
    }

    & input {
        border: none;
        outline: none;
        background: transparent;
        font-size: 1.2rem;
        width: 100%;
        overflow: auto;
        color: var(--text-color);

    }

}


.music {

    position: absolute;
    top: 60%;
    left: 15%;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    width: 70%;
    height: 40%;
    flex-wrap: wrap;

}

/**** Song-card ****/
.song-card {
    position: relative;
    width: 18.75rem;
    height: 16.25rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: flex;
    flex: 1 1 calc(33.33% - 20px) !important;
    box-sizing: border-box;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;

    &:hover {
        transform: scale(1.05);
    }

    & .overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: .625rem;
        box-sizing: border-box;
    }

    & h3 {
        margin: 0 0 5px;
        font-size: 1.1em;
    }

    & audio {
        width: 100%;
        outline: none;
    }

    & .favorite-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(255, 255, 255, 0.7);
        border: none;
        font-size: 24px;
        border-radius: 50%;
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s;
    }

    & .favorite-btn:hover {
        background: rgba(206, 193, 193, 0.9);
    }

    & .favorite-btn.active {
        color: red;

        font-weight: bold;
    }
}

.footerr {
    position: absolute;
    top: 95%;
    right: auto;
    z-index: 1000;
}

/***** Scorll bar *****/

.scrollable {
    height: 20px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: .625rem;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 3.125rem;

}







@media (max-width: 430px) {

    #home_page {
        height: 100vh;
        position: relative;
        /* background: var(---background--color-imp); */
        transition: background 0.5s ease;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -ms-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        background-size: cover;
        background-repeat: no-repeat;
        overflow-x: hidden;

    }

    .nav_bar,
    .btn {
        display: none;
    }


    .logo {
        position: fixed;
        top: .75rem;
        left: .5rem;
        z-index: 1;

        & img {
            height: 2.5rem;
        }
    }

    .menu {
        width: 120px;
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        font-size: 26px;
        z-index: 9999;

        & .menu-smart {
            padding-right: 5px;
            display: flex;
            justify-content: flex-end;
            border: none;
            outline: none;
            background: transparent;
        }

        & #menu-list {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease;

            &.open {
                max-height: 400px;
            }

            #ul {
                margin-top: 5px;
                padding: 15px;
                font-size: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: #202733;
                
                align-items: center;
                background-color: var(--ul-background-color);
                border-radius: 15px;
            }

            li {
                font-family: 'Comic Sans MS', cursive, sans-serif;
                list-style: none;
                padding: 0 3px;
            }
        }
    }


    .h1 {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        color: rgba(0, 0, 0, 0.4);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);

        &::before {
            content: "10000++Songs";
            top: 0;
            left: 0;
            position: absolute;
            font-size: inherit;
            border-right: 0.15em solid black;
            overflow: hidden;
            animation: animation 2s linear infinite;
            -webkit-animation: animation 2s linear infinite;

            -webkit-animation: animation 2s linear infinite;
        }
    }

    @keyframes animation {
        0% {
            width: 0;

        }

        50% {
            width: 100%;

        }

        100% {
            width: 0;
        }

    }

    .search {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--background-color);
        padding: 0.75rem 1.125rem;
        width: 15.5rem;
        box-shadow: var(--box-shadow);
        border-radius: 2.5rem;
        -webkit-border-radius: 2.5rem;
        -moz-border-radius: 2.5rem;
        -ms-border-radius: 2.5rem;
        -o-border-radius: 2.5rem;




        &:hover {
            box-shadow: var(---hover--box-shadow2);
        }

        & input {
            border: none;
            outline: none;
            background: transparent;
            font-size: 1.2rem;
            width: 100%;
            color: var(--text-color);


        }

    }

    /**** Song-card ****/

    .music {
        position: absolute;
        top: 50%;
        left: 15%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        width: 75%;
        gap: 1rem;

        & .song-card {
            position: relative;
            width: 100%;
            aspect-ratio: 4 / 3;
            overflow: hidden;
            box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: transform 0.3s ease;
            cursor: pointer;
            box-sizing: border-box;
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;

            &:hover {
                transform: scale(1.03);
            }

            & .overlay {
                position: absolute;
                bottom: 0;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
                color: white;
                padding: 0.5rem;
                box-sizing: border-box;
            }

            & h3 {

                font-size: clamp(0.8rem, 2vw, 1rem);
                margin: 0 0 5px;
            }

            & audio {
                width: 100%;
                outline: none;
            }
        }

    }


    /***** Scorll bar *****/

    .scrollable {
        height: 50px;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        width: .625rem;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 3.125rem;

    }
}

@media (min-width: 431px) and (max-width: 780px) {

    #home_page {
        height: 100vh;
        position: relative;
        /* background: var(---background--color-imp); */
        transition: background 0.5s ease;
        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -ms-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        background-size: cover;
        background-repeat: no-repeat;
        overflow-x: hidden;

    }

    .nav_bar,
    .btn {
        display: none;
    }

    .menu {
        width: 120px;
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        font-size: 26px;
        z-index: 9999;

        & .menu-smart {
            padding-right: 5px;
            display: flex;
            justify-content: flex-end;
            border: none;
            outline: none;
        }

        & #menu-list {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease;

            & #ul {
                right: .35rem;
                margin-top: 5px;
                padding: 15px;
                font-size: 22px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                background-color: #1e8fff5e;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
            }

            li {
                font-family: 'Comic Sans MS', cursive, sans-serif;
                list-style: none;

                padding: 0 5px;
            }

        }
    }

    #menu-list.open {
        max-height: 500px;
        /* background-color: #1e8fff5e; */
    }

    .h1 {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        color: rgba(0, 0, 0, 0.4);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);

        &::before {
            content: "10000++Songs";
            top: 0;
            left: 0;
            position: absolute;
            font-size: inherit;
            border-right: 0.15em solid black;
            overflow: hidden;
            animation: animation 2s linear infinite;
            -webkit-animation: animation 2s linear infinite;
        }
    }

    .logo {
        position: fixed;
        top: .75rem;
        left: .5rem;
        z-index: 1;

        & img {
            height: 3rem;
        }
    }

    @keyframes animation {
        0% {
            width: 0;

        }

        50% {
            width: 100%;

        }

        100% {
            width: 0;
        }

    }

    .search {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--background-color);
        padding: 0.75rem 1.125rem;
        width: 15.5rem;
        box-shadow: var(--box-shadow);
        border-radius: 2.5rem;
        -webkit-border-radius: 2.5rem;
        -moz-border-radius: 2.5rem;
        -ms-border-radius: 2.5rem;
        -o-border-radius: 2.5rem;

        &:hover {

            box-shadow: var(---hover--box-shadow2);
        }

        & input {
            border: none;
            outline: none;
            background: transparent;
            font-size: 1.2rem;
            width: 100%;
            color: var(--text-color);

        }

    }

    .music {
        position: absolute;
        top: 50%;
        left: 15%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 70%;
    }


    /**** Song-card ****/
    .song-card {
        position: relative;
        width: 18.75rem;
        height: 16.25rem;
        overflow: hidden;
        box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.3);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.3s ease;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;

        &:hover {
            transform: scale(1.05);
        }

        & .overlay {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            color: white;
            padding: .625rem;
            box-sizing: border-box;
        }

        & h3 {
            margin: 0 0 5px;
            font-size: 1.1em;
        }

        & audio {
            width: 100%;
            outline: none;
        }
    }

    /***** Scorll bar *****/

    .scrollable {
        height: 100px;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        width: .625rem;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 3.125rem;

    }


}